<nav>
    <a href="/" class="nav-brand">
        <h4>Book realm</h4>
    </a>

    <ul>
        <li>
          <% if( username == ' ') { %>
                <a href="/users/accounts">sign in</a>
          <% } else { %>
                <a href="/users/logout">logout</a>
          <% } %> 
        </li>
     
    </ul>
</nav>

<hr class="my-2">