<% if( typeof errors !== 'undefined' ) { %>
    <% errors.forEach(error => { %>
        <p class="error"> 
            <%= error.msg %>
        </p>
    <% }) %>
<% } %>

<% if( typeof success_msg !=='undefined' ) { %>
    <% success_msg.forEach(message=> { %>
        <p class="success">
            <%= message %>
        </p>
        <% }) %>
<% } %>


<% if( typeof error_msg !=='undefined' ) { %>
    <% error_msg.forEach(message=> { %>
        <p class="error">
            <%= message %>
        </p>
        <% }) %>
<% } %>


<% if( typeof error !=='undefined' ) { %>
    <% error.forEach(message=> { %>
        <p class="error">
            <%= message %>
        </p>
        <% }) %>
<% } %>

