<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | welcome</title>
    <link rel="icon" href="images/scala.png">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div id="register-wrapper">
        <h1>Create Account</h1>
        <div class="messages">
            <%- include('./partials/messages') %>
        </div>

        <form action="/users/register" method="POST">
            <div>
                <input type="text" name="username" placeholder="Enter Username">
            </div>
            <div>
                <input type="email" name="email" placeholder="Example@gmail.com">
            </div>
            <div>
                <input type="password" name="password1" placeholder="Enter Password">
            </div>
            <div>
                <input type="password" name="password2" placeholder="Confirm Password">
            </div>
            <div>
                <button>Register</button>
            </div>
        </form>

        <div id="accounts-back-link">
            <p>
                <a href="/users/accounts">< back</a>
            </p>
        </div>
    </div>
    
</body>
</html>